version: "3.8"

services:
  backend:
    build: ./backend
    container_name: idk-backend
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: idk-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
